ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  margin: 0 auto;
  padding: 24px 156px;
  max-width: 1440px;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
}

.gallery-item:hover .gallery-image,
.gallery-item:focus .gallery-image {
  /* width: 376px;
  height: 208px; */
  transform: scale(1.05);
}

.gallery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}
